@media screen and (min-width >=650px) {
    body {
        background-size: contain;
    }

    .invite {
        grid-template-columns: repeat(1, 1fr);
    }
}

body {
    font-size: 28px;
    margin: auto;
    width: 100%;
    justify-content: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1OZbspWnly1UcBwWZRmpBeLWD_hY80NDjGg&s);
    background-size: contain;
    background-repeat: repeat;
}

.header {
    text-align: center;
}

.invite {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    border: 15px pink outset;
}

.section {
    margin: 15px;
    text-align: center;
}

.section1,
.section2 {
    padding: 15px;
    background-color: rgba(253, 227, 194, 0.568);
    min-height: 250px;
}

.footer {
    text-align: center;
    background-color: rgb(253, 227, 194);
}